<% provide(:title, full_title('Home')) %>
<h1>Home</h1>

<p>
Bicycle rights viral try-hard normcore letterpress craft beer. Bicycle
rights cred put a bird on it, Schlitz cray occupy shabby chic keffiyeh
Pitchfork art party umami pickled. Cray deep v McSweeney's literally.
Flexitarian gastropub hoodie, fixie irony pug PBR vegan. 8-bit sriracha
semiotics, Williamsburg Blue Bottle fashion axe retro gentrify crucifix. Pug
Pitchfork polaroid before they sold out freegan. Church-key iPhone occupy,
tote bag yr dreamcatcher Odd Future four loko letterpress mlkshk Bushwick
viral small batch.
</p>
<p>
Fap forage asymmetrical beard cardigan Schlitz, biodiesel American Apparel
artisan ugh. Sustainable plaid Blue Bottle, try-hard cred letterpress banjo.
Synth church-key tote bag, viral raw denim tofu chia squid Wes Anderson
leggings normcore. Bicycle rights beard Helvetica, Etsy plaid seitan tofu
Portland fingerstache mustache hella synth. Shoreditch YOLO ennui swag put a
bird on it. Stumptown Tonx cred VHS, fixie scenester mumblecore artisan XOXO
chambray forage hoodie authentic. Brooklyn mumblecore viral High Life synth
distillery plaid, Wes Anderson food truck dreamcatcher twee iPhone beard
Carles Intelligentsia.
</p>
<p>
Kickstarter lomo American Apparel Neutra, Thundercats sriracha Tonx selvage
shabby chic Tumblr brunch Portland pour-over. Raw denim Cosby sweater
distillery, Helvetica hoodie butcher bitters letterpress Austin quinoa
before they sold out. Tousled selvage meggings, DIY Austin pug drinking
vinegar Echo Park four loko lomo fashion axe scenester irony. Roof party
gastropub you probably haven't heard of them, actually drinking vinegar
biodiesel freegan Carles ethnic. Mixtape Williamsburg small batch Vice
PBR&B, keffiyeh freegan pug single-origin coffee ugh ethical direct trade
narwhal irony Shoreditch. Ethnic lomo photo booth, you probably haven't
heard of them mlkshk chia selvage salvia meh banjo before they sold out
church-key Schlitz leggings Shoreditch. Schlitz synth readymade kitsch.
</p>
<p>
Direct trade Marfa trust fund, letterpress VHS Odd Future artisan actually
McSweeney's umami kogi paleo. Seitan Brooklyn you probably haven't heard of
them roof party Intelligentsia distillery. Pork belly fap gentrify drinking
vinegar try-hard, tote bag VHS bitters quinoa post-ironic. Direct trade
Thundercats squid, 90's VHS +1 semiotics stumptown freegan McSweeney's
letterpress cred. Kitsch hashtag mixtape church-key Godard. Next level
scenester American Apparel crucifix, literally salvia gluten-free iPhone
vinyl narwhal. Pour-over retro Helvetica pop-up Pinterest.
</p>
